.sidebar h1{
    text-align: center;
    color: red;
    font-size: 500%;

}
.sidebar h3{
    font-size: 200%;
}
.wrapper{
    width: 100%;
    min-height: 100%;
    padding: 5%;
    background-image: url(https://media.formula1.com/image/upload/content/dam/fom-website/manual/2023/Launches2023/Ferrari2023Launch/Ferrari%20front.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: right;
    justify-content: center;
}
.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(0, 4, 255, 0.2);
    display: flex;
    align-items: right;
    border-radius: 60px;
    padding: 10px 20px;
}
.search-bar input{
    background-color: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: crimson;
}
::placeholder{
    color:rgb(88, 155, 243)

}

.search-bar button img{
    width: 25px;

}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: rgb(209, 241, 220);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.heading{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.caz ul li a{
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  text-decoration: none;
  margin: 10px;
  color: brown;

}
 .card {
 border: 1px solid #ccc;
 border-radius: 4px;
 padding: 10px;
 width: 300px;
 box-shadow: 0 2px 4px rgba(0,0,0,0.2);
display: inline-block; 
}
.heading {
font-size: 24px;
font-weight: bold;
margin-bottom: 10px;
}
